extends layout

block content

  .login
    a(href='/')
      svg(version='1.2', baseprofile='tiny', xmlns='http://www.w3.org/2000/svg', width='117px', height='52px', viewbox='0 0 117 52')
        g
          path(fill-rule='evenodd', fill='#e7c868', d='M36,15c0-8.284-6.716-15-15-15c-0.337,0-0.668,0.028-1,0.05 C19.668,0.028,19.337,0,19,0s-0.668,0.028-1,0.05C17.668,0.028,17.337,0,17,0s-0.668,0.028-1,0.05C15.668,0.028,15.337,0,15,0 C6.716,0,0,6.716,0,15v37h25.969l0.003-0.003C25.981,51.997,25.99,52,26,52c2.209,0,4-1.791,4-4c0-0.01-0.003-0.019-0.003-0.028 L30,47.969v-7.213l-2.5-1.443l2.5-1.443V27h5.005L30,19v2h-7v-5H11v2h-1v-2v-1h13h7H36z')
          path(fill-rule='evenodd', fill='#e7c868', d='M29,20v-4h-5v4H29z M26,17h2v2h-2V17z')
          rect(x='40', fill-rule='evenodd', fill='#e7c868', width='55', height='6')
          rect(x='40', y='7', fill-rule='evenodd', fill='#e7c868', width='77', height='2')
          rect(x='96', fill-rule='evenodd', fill='#e7c868', width='21', height='6')
          rect(x='40', y='10', fill-rule='evenodd', fill='#e7c868', width='77', height='2')
          rect(x='40', y='13', fill-rule='evenodd', fill='#e7c868', width='77', height='2')
          rect(x='40', y='16', fill-rule='evenodd', fill='#e7c868', width='77', height='2')
          rect(x='40', y='19', fill-rule='evenodd', fill='#e7c868', width='23', height='17')
          rect(x='64', y='19', fill-rule='evenodd', fill='#e7c868', width='53', height='4')
          rect(x='64', y='24', fill-rule='evenodd', fill='#e7c868', width='53', height='2')
          rect(x='64', y='27', fill-rule='evenodd', fill='#e7c868', width='53', height='1')
          rect(x='64', y='29', fill-rule='evenodd', fill='#e7c868', width='53', height='1')
          rect(x='64', y='31', fill-rule='evenodd', fill='#e7c868', width='53', height='1')
          rect(x='64', y='33', fill-rule='evenodd', fill='#e7c868', width='53', height='3')
          rect(x='81', y='44', fill-rule='evenodd', fill='#e7c868', width='3', height='1')
          path(fill-rule='evenodd', fill='#e7c868', d='M40,52h77V37H40V52z M108,43h1v1h1v-1h3v1v1h-1v-1h-2v1h-1v4h-1V43z M101,44h1v-1h3v1 h1v1v1h-4v2h4v1h-4v-1h-1V44z M94,44h1v-1h3v-3h1v9h-1v-1h-1v1h-2v-1h-1V44z M87,46h1v-1h3v-1h-3v-1h3v1h1v4h1v1h-5v-1h-1V46z M80,44h1v-1h3v1h1v1v1h-4v2h4v1h-4v-1h-1V44z M73,43h1v1h1v-1h3v1v1h-1v-1h-2v1h-1v4h-1V43z M59,48h4v-1h-1v-1h-2h-1v-2h1v-1h4v1 h-4v1h2v1h2v1v1h-1v1h-4V48z M52,48h4v-1h-1v-1h-2h-1v-2h1v-1h4v1h-4v1h2v1h2v1v1h-1v1h-4V48z M45,43h1v1h1v-1h3v1v1h-1v-1h-2v1h-1 v4h-1V43z')
          rect(x='102', y='44', fill-rule='evenodd', fill='#e7c868', width='3', height='1')
          rect(x='88', y='46', fill-rule='evenodd', fill='#e7c868', width='3', height='2')
          polygon(fill-rule='evenodd', fill='#e7c868', points='97,48 97,47 98,47 98,44 95,44 95,48')
    h2 РЕГИСТРАЦИЯ
    form(method='POST', action='/signup')
      .field
        input.fill(type='email', placeholder='EMAIL', autocomplete='off', name='email', required)
      .field
        input.fill(type='password', placeholder='ПАРОЛЬ', name='pass', required, minlength='6')
      input.btn(type='submit', value='ЗАРЕГИСТРИРОВАТЬСЯ')
